<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Steps to Start the Quiz</title>
    <link rel="stylesheet" href="{{ asset('front/assets/css/stylestep.css')}}">
    <link rel="shortcut icon" href="{{ asset('front/assets/images/logo/favicon.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('front/assets/css/style.css')}}">
    <link rel="stylesheet" href="{{ asset('front/assets/css/logout.css')}}">

</head>

<body>

<!-- Header Area Starts -->
<header>
    <div class="blog-top">
        <div class="top_menu row m-0">
            <div class="container">
                <div class="float-left">
                    <ul class="list header_social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="header-area blog-menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <a href="index.html"><img src="{{ asset('assets/images/logo.png')}}" alt="logo" style="width:150px;height:90px;border:0;"></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="main-menu">
                        <ul>
                            <li><a href="#">Chercher un Job</a>
                            </li>
                            <li><a href="#">Vétrine d'ART</a></li>
                            <li><a href="#">Quiz</a></li>
                            <li><a href="#">Événement</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Créer Événement</a></li>
                                    <li><a href="#">Consulter Événement</a></li>
                                </ul>

                            </li>

                            <li><a href="#">Forum</a>
                                <ul class="sub-menu">
                                    <li><a href="#">Forum Home</a></li>
                                    <li><a href="#">Forum Details</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">

                                <a class="button22" href="#">
                                    <img src="https://pbs.twimg.com/profile_images/378800000639740507/fc0aaad744734cd1dbc8aeb3d51f8729_400x400.jpeg">
                                    <div class="logout">LOGOUT</div>
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->

<h1>Passer votres <strong>Test</strong> ...</h1>
<section>
    <article>
        <form class="pure-steps">
            <input type="radio" name="steps" class="pure-steps_radio" id="step-0" checked="">
            <input type="radio" name="steps" class="pure-steps_radio" id="step-1">
            <input type="radio" name="steps" class="pure-steps_radio" id="step-2">
            <div class="pure-steps_group">
                <ol>
                    <li class="pure-steps_group-step">
                        <header>
                            <legend class="pure-steps_group-step_legend">welcome </legend>
                            <p class="pure-steps_group-step_item">HTML5 (HyperText Markup Language 5) est la dernière révision majeure du HTML (format de données conçu pour représenter les pages web).</p>
                            <p class="pure-steps_group-step_item"></p>
                        </header>
                    </li>
                    <li class="pure-steps_group-step">
                        <fieldset>
                            <legend class="pure-steps_group-step_legend">Niveau 1</legend>
                            <p class="pure-steps_group-step_item">Cette test qui est composé de <strong>10 questions </strong> vas duréé <strong>10 min </strong>.</p>
                        </fieldset>
                    </li>
                    <li class="pure-steps_group-step flexy-item">
                        <div class="pure-steps_preload">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                <path d="M31.8,3.6c-0.2-0.5-0.4-0.9-0.9-1.2C30.4,2,29.7,1.8,29,1.9c-0.6,0.1-1.2,0.4-1.6,1l-8.5,11.2l0,0l-7.2,9.5l-7.1-9.4 c-0.5-0.7-1.3-1-2.1-1c-0.5,0-1,0.2-1.4,0.5c-0.5,0.4-0.9,1-1,1.7s0.1,1.2,0.5,1.8l9.1,12.1l0,0c0.1,0.2,0.3,0.3,0.4,0.4 c0.4,0.3,0.9,0.5,1.4,0.5c0.8,0,1.6-0.3,2.1-1L22.1,18l0,0l9.1-12.1C32,5.2,32.1,4.4,31.8,3.6z"></path>
              </svg>
                            <br>
                            <br>
                            <a href="quizessais.html" class="template-btn">Commencer maintenant</a>

                        </div>
                    </li>
                </ol>
                <ol class="pure-steps_group-triggers">
                    <li class="pure-steps_group-triggers_item">
                        <label for="step-0">Suivant</label>
                    </li>
                    <li class="pure-steps_group-triggers_item">
                        <label for="step-1">Suivant</label>
                    </li>
                    <li class="pure-steps_group-triggers_item">
                        <label for="step-2">Commencer mentenant</label>

                    </li>
                </ol>
            </div>
            <br>
            <label for="step-0">Retour</label>

        </form>
    </article>
</section>



</body>

</html>
