{% extends 'baseback.html.twig' %}
{% block content %}
{# total items count #}
<div class="count">
    {{ pagination.getTotalItemCount }}
</div>
<table>


        {# sorting of properties based on query components #}
        <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
        <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}</th>
    </tr>

ghjcnksdcbvehjvnkc,lsc,dknvfb vjnkc,l
    dvndcsk,xlc,vnb fv,dcl;xm

    ,nfdcs;fvnd,lx
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
</table>

{% endblock %}