{# contact.html.twig #}

{{ form_start(form) }}

<div>
    Subject :
    {{ form_widget(form.subject) }}
</div>
<div>
    Name :
    {{ form_widget(form.name) }}
</div>
<div>
    Email :
    {{ form_widget(form.email) }}
</div>
<div>
    Message :
    {{ form_widget(form.message) }}
</div>

{# Render CSRF token etc .#}
<div style="display:none">
    {{ form_rest(form) }}
</div>

<input type="submit" value="Submit">


{{ form_end(form) }}