
{% block body %}
    <h1>Evaluation creation</h1>
    {{ form_start(form2) }}

    {{ form_start(form) }}
        {{ form_widget(form) }}

    {{ form_widget(form2) }}
    <input type="submit" value="Create" />
    {{ form_end(form2) }}

    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('evaluation_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
