{% extends 'baseaymen.html.twig' %}
{% block cc %}
    <div class="header-area single-page">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-10">
                        <div class="custom-navbar">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="main-menu main-menu-light">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-title text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="page_link">
                            <a href="elements.html">Examen</a>
                        </div>

                        <h2>Passer Un Examen</h2>
                        <br>
                        <a href="#" class="template-btn">Trouver un Examen</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Area End -->


    <!-- Start Sample Area -->
    <section class="sample-text-area">
        <div class="container">
            <h3 class="text-heading title_color">Prouvez votre crédibilité et gagnez du travail</h3>
            <p class="sample-text">
                Les badges d'examen sont affichés sur toutes vos enchères et sur votre profil après chaque examen. Ils sont un excellent moyen de gagner plus de travail en montrant votre crédibilité et votre confiance envers les employeurs.

                Les pigistes qui réussissent nos examens ont 25% plus de chances de gagner et gagnent
                plus que les pigistes qui n’ont réussi aucun examen.
            </p>
        </div>
    </section>
    <!-- End Sample Area -->
    <!-- Start Button -->
    <section class="button-area">
        <div class="container border-top-generic">
            <h2 class="typo-list" >Tous les Quiz</h2>
            <br>
            <div>
                <h4 class="typo-list" >WebSite </h4>
                <div class="button-group-area">
                    <a href="#" class="genric-btn default" style="width:150px;">Html</a>
                    <a href="{{ path('questionnaire3') }}" class="genric-btn success">Niveau 1</a>
                    <a href="{{ path('questionnaire3') }}"class="genric-btn primary">Niveau 2</a>
                    <a href="{{ path('questionnaire3') }}" class="genric-btn danger">Niveau 3</a>
                </div>
                <div class="button-group-area">
                    <a href="#" class="genric-btn default" style="width:150px;">Html5</a>
                    <a href="{{ path('questionnaire3') }}" class="genric-btn success">Niveau 1</a>
                    <a href="{{ path('questionnaire3') }}" class="genric-btn primary">Niveau 2</a>
                    <a href="{{ path('questionnaire3') }}" class="genric-btn danger">Niveau 3</a>
                </div>
                <div class="button-group-area">
                    <a class="genric-btn default" style="width:150px;">Css</a>
                    <a href="{{ path('questionnaire3') }}" class="genric-btn success">Niveau 1</a>
                    <a href="{{ path('questionnaire3') }}" class="genric-btn primary">Niveau 2</a>
                    <a href="{{ path('questionnaire3') }}" class="genric-btn danger">Niveau 3</a>
                </div>
                <div class="button-group-area">
                    <a href="#" class="genric-btn default" style="width:150px;">Symfony</a>
                    <a href="{{ path('questionnaire3') }}" class="genric-btn success">Niveau 1</a>
                    <a href="{{ path('questionnaire3') }}" class="genric-btn primary">Niveau 2</a>
                    <ahref="{{ path('questionnaire3') }}" class="genric-btn danger">Niveau 3</a>
                </div>
            </div>
            <br>
            <div>
                <h4 class="typo-list" >Mobile </h4>
                <div class="button-group-area">
                    <a  class="genric-btn default" style="width:150px;">Android</a>
                    <a href="{{ path('questionnaire3') }}"  class="genric-btn success">Niveau 1</a>
                    <a href="{{ path('questionnaire3') }}" class="genric-btn primary">Niveau 2</a>
                    <a href="{{ path('questionnaire3') }}" class="genric-btn danger">Niveau 3</a>
                </div>
                <div class="button-group-area">
                    <a href="#" class="genric-btn default" style="width:150px;">IOS</a>
                    <a href="{{ path('questionnaire3') }}" class="genric-btn success">Niveau 1</a>
                    <a href="{{ path('questionnaire3') }}" class="genric-btn primary">Niveau 2</a>
                    <a href="{{ path('questionnaire3') }}" class="genric-btn danger">Niveau 3</a>
                </div>

            </div>
            <br>

            <div>
                <h4 class="typo-list" >WebSite </h4>
                <div class="button-group-area">
                    <a href="#" class="genric-btn default" style="width:150px;">Photoshop cs5</a>
                    <a href="#" class="genric-btn success">Niveau 1</a>
                    <a href="#" class="genric-btn primary">Niveau 2</a>
                    <a href="#" class="genric-btn danger">Niveau 3</a>
                </div>
                <div class="button-group-area">
                    <a href="#" class="genric-btn default" style="width:150px;">Photoshop cs6</a>
                    <a href="#" class="genric-btn success">Niveau 1</a>
                    <a href="#" class="genric-btn primary">Niveau 2</a>
                    <a href="#" class="genric-btn danger">Niveau 3</a>
                </div>

            </div>

        </div>
    </section>
    <!-- End Button -->
    <!-- Start Align Area -->
    <div class="whole-wrap">
        <div class="container">
            <div class="section-top-border">
                <h3 class="mb-30 title_color">Test les plus populaires</h3>
                <div class="progress-table-wrap">
                    <div class="progress-table">
                        <div class="table-head">
                            <div class="serial">#</div>
                            <div class="country">Nom du Test</div>
                            <div class="visit">Nb des test fait</div>
                            <div class="percentage">Percentages</div>
                        </div>
                        <div class="table-row">
                            <div class="serial">01</div>
                            <div class="country"> HTML5</div>
                            <div class="visit">645032</div>
                            <div class="percentage">
                                <div class="progress">
                                    <div class="progress-bar color-1" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="serial">02</div>
                            <div class="country"> Css</div>
                            <div class="visit">645032</div>
                            <div class="percentage">
                                <div class="progress">
                                    <div class="progress-bar color-2" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="serial">03</div>
                            <div class="country"> Ios</div>
                            <div class="visit">645032</div>
                            <div class="percentage">
                                <div class="progress">
                                    <div class="progress-bar color-3" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="serial">04</div>
                            <div class="country"> Android</div>
                            <div class="visit">645032</div>
                            <div class="percentage">
                                <div class="progress">
                                    <div class="progress-bar color-4" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="serial">05</div>
                            <div class="country"> Photoshop cs5</div>
                            <div class="visit">645032</div>
                            <div class="percentage">
                                <div class="progress">
                                    <div class="progress-bar color-5" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="serial">06</div>
                            <div class="country"> Photoshop cs4</div>
                            <div class="visit">645032</div>
                            <div class="percentage">
                                <div class="progress">
                                    <div class="progress-bar color-6" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="section-top-border">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <h3 class="mb-30 title_color">Réclamation</h3>
                        <form action="#">
                            <div class="mt-10">
                                <input type="text" name="first_name" placeholder="Pseudonyme"


                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Pseudonyme'"

                                       required class="single-input-primary">
                            </div>

                            <div class="mt-10">
                                <input type="email" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required class="single-input-primary">
                            </div>
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
                                <input type="text" name="   address" placeholder="   Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'" required class="single-input-primary">
                            </div>
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                <div class="form-select" id="default-select">
                                    <select>
                                        <option value="1">Ville</option>
                                        <option value="1">Tunisie</option>
                                        <option value="1">Dilli</option>
                                        <option value="1">Newyork</option>
                                        <option value="1">Islamabad</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                                <div class="form-select" id="default-select2">
                                    <select>
                                        <option value="1">Pays</option>
                                        <option value="1">Tunisie</option>
                                        <option value="1">France</option>
                                        <option value="1">USA</option>
                                        <option value="1">India</option>
                                        <option value="1">England</option>
                                        <option value="1">Srilanka</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mt-10">
										<textarea class="single-textarea" placeholder="Message" onfocus="this.placeholder = ''"
                                                  onblur="this.placeholder = 'Message'"  required class="single-input-primary"></textarea>
                            </div>
                            <br>
                            <input type="submit" name="submit" value="Envoyer" class="genric-btn primary"  style=" float: right;"/>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
